.select-container {
    margin-left: auto;
    margin-right: auto;
    width: 20px;
}

.select-genre-bloc {
    padding: 0;
    margin: 0;
    justify-content: center;
}

.select-case {
    background-color: #C4C4C4;
}

.week {
    margin-top: 15px;
    margin-bottom: 35px;
    padding: 0;
    text-align: left;
}

.week_bloc {
    padding: 10px 0px;
}

.pochette {
    /*height: 220px;*/
    max-width: 100%;
}

.week_title {
    margin: 0;
    padding-bottom: 5px;
}

.infos {
    text-align: left;
    padding-left: 0;
}

span {
    text-align: right;
}

.catalog {
    margin-top: 35px;
}

.cover {
    padding-top: 10px;
    padding-bottom: 15px;
}

.cover_catalog {
    max-width: 100%;
}

.h_catalogue {
    margin: 0;
}

.catalog .prix {
    text-align: right;
}

.buttons_catalog {
    display: inline-block;
}

.button {
    height: 3.5rem;
}

.play_button {
    /*height: 30px;*/
}


/* DESKTOP */
.genres_line {

}

.genre1 {

}

.genre2 {

}

.genre3 {

}

.desktop_genre {
    display: none;
}



/* DESKTOP */

.filter {
    height: 30px;
    margin: -15px;
}

.filter p
{
    font-size: 1.5em;
    color: white;
    line-height: 30px;
}

.genre
{
    background-color: #F8C804;
}

.subgenre
{
    background-color: #FFD837;
}

.most
{
    background-color: #FCEBA3;
}

.container {
    margin-top: 20px;
}


@media (min-width: 400px) {
    .desktop_genre {
        display: block;
        padding: 0;
        margin-bottom: 80px;
    }

    .container {
        margin-top: 100px;
    }

    .select-container {
        display: none;
    }
}
