@font-face
{
    font-family: 'titre';
    src: url("../media/fonts/lato_bold.ttf");

    font-family: 'header';
    src: url("../media/fonts/monoton.ttf");
}

@font-face
{
    font-family: 'texte';
    src: url("../media/fonts/montserrat.ttf");
}

html
{
    font-size: 62.5%;
    font-family: 'texte';
}

p
{
    font-size: 1rem;
}

body
{
    margin: 0;
    height: 100vw;
    font-family: 'texte';
}

h1, .header_title
{
    font-size: 4rem;
    font-family: 'header';
    font-weight: normal;
}

h2
{
    font-size: 2rem;
    font-family: 'titre';
}

h3
{
    font-size: 1.5rem;
}

.header-bloc {
    padding: 0;
}

.header  {
    background-image:url("../media/images/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    padding: 0;
    margin-top: 71px;
}

.header_title {
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    color: #F8C804;
}

.category
{
    margin-top: 25px;
}

.mobile_nav
{
    background-color: #F8F8F8;
    width: 100vw;
    height: 71px;
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.mobile_nav .home
{
    height: 60px;
    margin: 5px;
}

.mobile_nav .icon
{
    height: 35px;
    margin: 7px;
}

.mobile_nav .burger
{
    height: 30px;
    margin: 10px;
    margin-top: 15px;
    margin-right: 15px;
}

.main_nav
{
    display: none;
}

.member_nav
{
    display: none;
}

.container
{
    margin-top: 71px;
    text-align: center;
    margin-bottom: 15px;
}

footer
{
    background-color: #F8F8F8;
    height: 20vh;
    text-align: center;
    padding: 45px;

}

footer p
{
    font-size: 1.5rem;
}




