@font-face
{
    font-family: 'titre';
    src: url("../media/fonts/lato_bold.ttf");

    font-family: 'header';
    src: url("../media/fonts/monoton.ttf");
}

@font-face
{
    font-family: 'titre';
    src: url("../media/fonts/lato_regular.ttf");
}

@font-face
{
    font-family: 'texte';
    src: url("../media/fonts/montserrat.ttf");
}

@font-face
{
    font-family: 'texte-bold';
    src: url("../media/fonts/montserrat_bold.ttf");
}

button
{
    border:none;
    background: transparent;
}

html
{
    font-size: 62.5%;
    font-family: 'texte';
    overflow-x: hidden;
    height: 100%;
}

a
{
color: black ;
transition: color .2s;
}

a:hover
{
    text-decoration: none;
    color: grey;
}

p
{
    font-size: 1rem;
}

body
{
    margin: 0;
    min-height:100%;
    font-family: 'texte';
}

h1
{
    font-size: 4rem;
    font-family: 'header';
    font-weight: normal;
}

h2
{
    font-size: 2rem;
    font-family: 'titre';
}

h3
{
    font-size: 1.5rem;
}

.header-bloc {
    padding: 0;
}

.header {
    background-image: url("../media/images/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;
    margin-top: 80px;
    height: 100px;
}

.header_title {
    text-align: center;
    line-height: 100px;
    color: #F8C804;
}

@media (min-width: 992px) {
    .header {
        height: 150px;
    }
    .header_title {
        line-height: 150px;
        font-size: 7rem;
    }
}

button
{
    style: none;
}

.category
{
    margin-top: 25px;
}

/*----- MOBILE NAV ----*/

.mobile_nav
{
    background-color: #F8F8F8;
    width: 100vw;
    height: 71px;
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.mobile_nav .home
{
    height: 60px;
    margin: 5px;
}

.mobile_nav .icon
{
    height: 35px;
    margin: 7px;
}

.mobile_nav .burger
{
    height: 30px;
    margin: 10px;
    margin-top: 15px;
    margin-right: 15px;
}

.burger-menu
{
    background-color: #F8C804;
    position: absolute;
    top: 71px;
    height: 100%;
    width: 70%;
    transition: height 1s;
}

.collapsing
{
    position: relative;
}

.filter
{
    color: white;
    font-family: 'texte-bold';
}

.filter p
{
    font-size: 1.5rem;
    margin: 8px;
    text-align: center;
    min-width: 100px;
    padding: 0px;
}

.filter p:hover
{
    background-color: #86A6AA;
    border-radius: 40px;
}

/****** OVERLAY *****/

.cover-card
{
    position: relative;
}

.overlay
{
    transition: .5s ease;
    position: absolute;
    text-align: center;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 50%;
    margin: auto;
    padding: 40px;
    background-color: white;
    border: 1px solid grey;
}

.cover-card .cover:hover
{
    opacity: .3;
}

.cover-card .overlay:hover
{
    opacity: .8;
    width:195px;
    z-index: 2;
}

.selection {
    margin-top: -35px;
}

.selection .row {
    margin-bottom: 10px;
}

.selection .cover {
    height: 185px;
    margin-left: 5px;
    margin: 5px;
    transition: .5s ease;
}


/*----- DESKTOP NAV ----*/
nav
{
    position: absolute;
    width: 100vw;
    top: 0px;
}

.member_nav
{
    padding: 5px;
    height: 30px;
}

.member_nav .row
{
    margin:auto;
}

.member_nav .icon
{
    max-height: 15px;
    margin-right: 5px;
}

.separator
{
    margin: 5px;
}

.member_nav .right
{
text-align: right;
margin-right: 15px;
}

.member_nav .left
{
margin-left: 15px;
}

.main_nav
{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    background-color: #F8F8F8;
}

.main_nav .right
{
    text-align: right;
    font-size: 1.5rem;
}

.main_nav .icon
{
    max-height: 25px;
    margin: auto;
    margin-top: 7px;
    margin-left: 50px;
}

.main_nav .home
{
    max-height: 40px;
    margin-left: 15px;
}

.main_nav .searchbar
{
    width: 50%;
    height: 60%;
    padding: 5px;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    border-style: none;
    background: transparent;
}

.main_nav .col
{
    margin:auto;
}

.main_nav .left
{
    height: 100%;
    margin: auto;
}

.container
{
    margin-top: 71px;
    text-align: center;
    margin-bottom: 15px;
}

footer
{
    background-color: #F8F8F8;
    height: 20vh;
    text-align: center;
    padding: 45px;
}

footer p
{
    font-size: 1.5rem;
}


.desktop
{
    display: none;
}

@media screen and (min-width: 465px)
{
    .mobile
    {
        display: none;
    }

    .desktop
    {
        display: block;
    }

    .container
    {
        margin-top: 15px;
    }

    .searchbar {
        display: none;
    }

    footer
    {
        height: 150px;
    }
}

@media (min-width: 687px) {
    .searchbar {
        display: block;
    }
}

